<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

    <springProperty scope="context" name="environment" source="info.environment" />
    <springProperty scope="context" name="classifier" source="info.classifier" />
    <springProperty scope="context" name="applicationName" source="info.artifact" />
    <springProperty scope="context" name="applicationVersion" source="info.version" />

    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <if condition='isDefined("LOGSTASH_HOST")'>
        <then>
            <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <keepAliveDuration>5 minutes</keepAliveDuration>
                <reconnectionDelay>10 second</reconnectionDelay>
                <waitStrategyType>sleeping</waitStrategyType>
                <ringBufferSize>16384</ringBufferSize>
                <destination>${LOGSTASH_HOST}</destination>
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <mdc /> <!-- MDC variables on the Thread will be written as JSON fields-->
                        <context /> <!--Outputs entries from logback's context -->
                        <logLevel />
                        <loggerName />

                        <pattern>
                            <pattern>
                                {
                                "environment": "${environment}",
                                "classifier": "${classifier}",
                                "application_name": "${applicationName}",
                                "application_version": "${applicationVersion}"
                                }
                            </pattern>
                        </pattern>

                        <threadName />
                        <message />

                        <logstashMarkers /> <!-- Useful so we can add extra information for specific log lines as Markers-->
                        <arguments /> <!--or through StructuredArguments-->

                        <stackTrace>
                            <fieldName>stackTrace</fieldName>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <exclude>net\.sf\.cglib\..*</exclude>
                                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                                <rootCauseFirst>true</rootCauseFirst>
                            </throwableConverter>
                        </stackTrace>
                    </providers>
                </encoder>
            </appender>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />

        <if condition='isDefined("LOGSTASH_HOST")'>
            <then>
                <appender-ref ref="STASH" />
            </then>
        </if>
    </root>
</configuration>
